<style>
  html {
    font-family: sans-serif;
  }
</style>

<p>Hello <%= @user.first_name %>,</p>

<p>How nice to have you at Casual.</p>
<p>We hope you find what you want to buy and wish you won't forget to include items that you may be willing to sell.</p>

<%= link_to "Return to Casual.", root_url %>
