
<div class="info" style= "margin: 55px;">


<h1>Status of your Purchase in Casual</h1>


 <li>Status: <%= @purchase.status %> </li>


 <li> Product name: <%= @purchase.item.item_name %> </li>

  <li>Amount: <%= humanized_money_with_symbol(@purchase.amount) %></li>

