<div class="align-margen" style="margin:50px;">

<h1>Thank you for your purchase</h1>
<h2>Order number is: <%= @purchase.order %></h2>
<h3>Your Purchase Status</h3>

  <p>Status: <%= @purchase.status %></p>
  <p>Item: <%= @purchase.item.item_name %></p>
  <p>Amount: <%= humanized_money_with_symbol(@purchase.amount) %><p>

</div>
