<div class="align-margen" style="margin:50px;">

<h1>Your Purchase Status</h1>

  <p>Status: <%= @purchase.status %></p>
  <p>Item: <%= @purchase.item.item_name %></p>
  <p>Amount: <%= humanized_money_with_symbol(@purchase.amount) %><p>

</div>
