<div class="footer">
<div>
  <ul class="footer-list">
    <li>Company</li>
    <li>Contact us</li>
    <li>Team</li>
  </ul>

</div>
  <div class="footer-links">
    <a href="#"><i class="fa fa-google-plus-official"></i></a>
    <a href="https://www.facebook.com/?sw_fnr_id=1942285717&fnr_t=0"><i class="fa fa-facebook"></i></a>
    <a href="https://br.pinterest.com/"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>

  </div>
  <!-- <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div> -->
</div>
