<!-- <div class="container"> -->
   <!--    <h1>Bootstrap <code>.no-gutters</code> Example, no container</h1>
    </div> -->
    <div class="row no-gutters">
     <div class="col-xs-6 col-sm-3 kitten-box"><img src="http://www.thethingswesay.com/img/3575.jpg" alt="kittens"></div>
     <div class="col-xs-6 col-sm-3 kitten-box"><img src="http://dresswelldogood.com/wp-content/uploads/2016/04/Thrift-Store-Rack-Dress-Well-Do-Good-Ethical-Clothing.jpg" alt="kittens"></div>
     <div class="col-xs-6 col-sm-3 kitten-box"><img src="http://2.bp.blogspot.com/-A_TrtfRMmJ8/VgwY5YiKXwI/AAAAAAAAIr8/hV8g-fLAL6c/s1600/well-dressed.png" alt="kittens"></div>
      <div class="col-xs-6 col-sm-3 kitten-box"><img src="http://1.bp.blogspot.com/-BAlOwWqMUJM/T6fUi5Jf8LI/AAAAAAAACFc/T9GUucDXwRk/s1600/zdj%C4%99cie.JPG" alt="kittens"></div>
    </div>

<!--     </div> -->
