
<style>
  html {
    font-family: sans-serif;
  }
</style>

<p>
  Congratulations, <%= @item.item_name %> has been created and is being offered to sell.
</p>
<p> We wish you luck. </p>

<%= link_to "Return to Casual.", root_url %>
