<style>
  html {
    font-family: sans-serif;
    background-color: #E3D1D1;
  }
/*.buton-product {
  background-color: #EB3A7E;
  border: 0;
}
.email-sold {
border-color: gray;
border-width: 10px;

}*/


</style>

<div class="email-sold" style="background-color: #E5DCDC;">



  <div class="container">

    <div class="row">
      <!-- <div class="col-sm-6 col-md-4 col-md-offset-6"> -->

      <div class = "col-sm-4 col-sm-offset-4">
        <ul class="thumbnails">
          <div class="span4">


            <!-- <img src="https://image.freepik.com/icones-gratis/cabide_318-43294.jpg" border="0" width="100" height="80" item-position= "center" style="display: block;" > -->


              <img src="http://casualclicks.com/Images/site_wide/logo.png" border="0" width="300" height="150" item-position= "center" style="display: block;" >


            <div class="align-margen" style="margin:50px;">

            <div class="name" style="color:#EB3A7E;">
              <h1>Hello <%= @user.first_name %>,</h1>
            </div>
              <p>Your product <%= @purchase.item.item_name %> was sold.</p>
              <% if @purchase.item.photo_items.any? %>
              <p><%= cl_image_tag(@purchase.item.photo_items.first.path) %></p>
              <% end %>
            </div>
          </div>

          <%= link_to "Return to Casual.", root_url, class: "btn btn-primary"%>
        </ul>

      </div>
    </div>
  </div>

</div>


