<style>
  html {
    font-family: sans-serif;
  }
</style>

<div class="align-margen" style="margin:50px;">
  <p>Hello <%= @user.first_name %>,</p>

  <p>Your product <%= @purchase.item.item_name %> was sold.</p>
  <% if @purchase.item.photo_items.any? %>
    <p><%= cl_image_tag(@purchase.item.photo_items.first.path) %></p>
  <% end %>

</div>

<%= link_to "Return to Casual.", root_url %>
