.content {
  display: flex;
}

.profile {
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr;
  grid-template-rows: 75% 50%;
  height: calc(95vh - 30px);
  padding: 10px;
}

.profile .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;

}

.profile .description {
  grid-row: 1 / span 1;
  grid-column: 2 / span 3;
}

.profile .stat{
  grid-row: 2 / span 3;
  grid-column: 2 / span 0;
}

.main, .description, .stat {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#myCarousel {
margin-left: 50px;

}


/* Fonts and colors */
.profile h2 {
  font-size: 22px;
}
.profile h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.profile p {
  color: rgba(0,0,0,0.6);
}
// .profile .btn {
//   border-radius: 0;
//   border: none;
//   width: 100%;
//   margin-top: 30px;
//   // background: #37B686;
// }
// .profile .btn:hover {
//   // background: #37B686;
//   opacity: 0.7;
// }
.stat h3 {
  color: #37B686;
  font-size: 28px;
}
.stat p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}
.description h3 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}
.description p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}


// body {
//   margin: 0;
//   font-family: 'Varela Round', sans-serif;
//   font-size: 18px;
//   background: #F4F4F4;
// }
// p {
//   font-weight: lighter;
// }

.padded {
  padding: 30px 0;
}

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}
p {
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
  text-align: center;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}





