.footer {
  background: #393E46;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #6B8E23;
  opacity: 0.50;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-list {
    align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list li {
    margin-left: 80px;
    display: inline-block;
    color: #D4D6C8;
    opacity: 0.50;
    margin-right: 12px;
    text-decoration: none;
}

.footer-list a {
    margin-left: 80px;
    display: inline-block;
    color: #D4D6C8;
    margin-right: 12px;
    text-decoration: none;
}

div.hidden { display: none; }

.footer-list li:hover {
  opacity: 1;
}
.footer-list a:hover {
  opacity: 1;
}
.footer-list-title {
  color: rgba(0, 0, 0, 0.64);
}

#show-company {
  cursor: pointer;
}

#show-contact {
  cursor: pointer;
}

.footer > .row {
  width: -webkit-fill-available;
}

.footer a {
  vertical-align: -webkit-baseline-middle;
}

a.footer-better {
  padding-left: 20px;
  text-decoration: none;
}
