// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "star";

.map-wrapper {
  min-height: calc(100vh - 124px);
}
.map-wrapper .grid-container {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-gap: 20px;
}
.cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.card-content {
  height: 175px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  background-color: #e6e6e6;
  padding: 5px;
}
.card-clothes {
  position: absolute;
  right: 0px;
  height: 100%;
}

.card-body {
    height: 180px;
    background-size: cover;
    color: white;
    position: relative;
}

.card-link {
    position: absolute;
    // top: 0;
    // bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}

.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card-description h2 {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}




// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 15px;
//   text-transform: uppercase;
// }
// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }

// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover {
//   opacity: 0.1;
// }

#map {
  height: calc(100vh - 80px);
}

